.profile-picture,
.default-profile-picture {
  width: 2.5rem;
  object-fit: cover;
  margin: 0;
  border-radius: 5px;
}

.link-profile {
  cursor: pointer;
}

/* BUTTON */

.sign-out-button {
  color: var(--gray);
  background: var(--blue);
  border: none;
  margin: 0 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* LAYOUT */

.current-user {
  display: flex;
  background-color: var(--blue);
  margin: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
}

.current-user-actions {
  display: flex;
}
