img {
  width: 5rem;
  object-fit: cover;
  margin: 1rem 1rem 1rem 0;
}

.current-user {
  display: flex;
}

.link-profile {
  text-decoration: none;
  cursor: pointer;
  color: #77555b;
}

.link-profile:focus,
.link-profile:hover {
  color: #b38d97;
}
