.profile-picture,
.default-profile-picture {
  width: 2.5rem;
  object-fit: cover;
  margin: 0;
  border-radius: 5px;
}

.current-user {
  display: flex;
  background-color: var(--blue);
  margin: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}

.link-profile {
  text-decoration: none;
  cursor: pointer;
  color: var(--blue);
}

.link-profile:focus,
.link-profile:hover {
  color: var(--red);
}
