/* TYPOGRAPHY */

h3 {
  margin: 1rem 0;
}

.posted-by {
  font-size: 0.9rem;
}

.housemate-name {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.2rem;
}

.housemate-name:focus,
.housemate-name:hover {
  color: var(--red);
}

.housemate {
  background: white;
  color: var(--blue);
  padding: 0.5rem;
  width: 50%;
  max-width: 550px;
  min-width: 275px;
  border-radius: 5px;
  margin: 0.5em auto;
}

.add-housemate {
  width: 50%;
  max-width: 550px;
  min-width: 275px;
  margin: 0 auto;
  color: var(--blue);
  display: flex;
  margin-bottom: 0.75em;
}

.add-housemate-name {
  border: none;
  background: white;
  border-radius: 5px;
  color: var(--blue);
  margin-right: 0.5em;
  outline: none;
  font-size: 1rem;
  width: 100%;
  text-align: left;
}

/* BUTTONS */

.submit-housemate-button {
  border: none;
  background: var(--blue);
  border-radius: 5px;
  color: var(--gray);
  font-size: 1rem;
  padding: 0.5em 0.9em;
  margin: 0 0 0 auto;
}

.submit-button:hover {
  background: var(--red);
  cursor: pointer;
}

.move-out-button {
  border: none;
  border-radius: 5px;
  color: var(--blue);
  background: white;
  outline: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.move-out-button:hover {
  color: var(--red);
}

/* LAYOUT */

.housemates-page {
  height: 97vh;
  padding: 2em;
  margin: 0 auto;
  padding-top: 0;
  overflow: scroll;
}

.post-information {
  display: flex;
  justify-content: space-between;
}

.housemates-container {
  display: flex;
  flex-direction: column;
}

.housemate-container {
  min-height: 97vh;
  padding: 2em;
}

.housemate-container,
.housemates-container {
  padding-top: 5.5em;
}

/* MEDIA QUERIES */

@media (max-width: 450px) {
  .add-housemate-name,
  .submit-housemate-button {
    font-size: 0.9rem;
  }

  .posted-by {
    font-size: 0.8rem;
  }

  .move-out-button {
    font-size: 0.8rem;
  }

  .housemate-name {
    font-size: 1.1rem;
  }

  .housemates-page {
    padding: 1em;
  }
}
