* {
  box-sizing: border-box;
}

:root {
  --red: #840032;
  --red-hover: #430005;
  --yellow: #e59500;
  --gray: #e5dada;
  --blue: #002642;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.link-home {
  text-decoration: none;
  color: #b38d97;
  cursor: pointer;
}

.link-home:focus,
.link-home:hover {
  color: #77555b;
}

.title {
  font-family: "Acme", sans-serif;
  color: var(--blue);
}

.signature {
  text-decoration: none;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
}

.signature-container {
  text-align: center;
  font-size: 0.8rem;
}

.main-app-container {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: var(--gray);
  position: absolute;
}
