.housemate {
  background: #b38d97;
  color: white;
  padding: 0.25rem;
  margin: 0.5rem;
  margin-left: 0;
  width: 30%;
  min-width: 500px;
  border-radius: 5px;
}

.housemate-name-gender {
  text-decoration: none;
  color: white;
}

.housemate-name-gender:focus,
.housemate-name-gender:hover {
  color: #77555b;
}

.gender-select {
  margin-right: 0.25rem;
}

.add-housemate {
  width: 30%;
  min-width: 500px;
  margin-right: 0.25rem;
}

.add-housemate-name {
  border: 2px #b38d97 solid;
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  outline: none;
  font-size: 0.8rem;
  width: 100%;
}

.posted-by {
  font-size: 0.8rem;
}

.post-information {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 1rem 0;
}
