input {
  margin: 0.25rem 0;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

label {
  margin: 0.25rem 0;
}

.email-authentication,
.sign-in {
  margin-bottom: 0.5rem;
  background: #424b54;
  color: white;
  padding: 0.25rem;
  border-radius: 5px;
  width: 50%;
}
