/* TYPOGRAPHY */

.edit-user-info-header {
  text-align: center;
  font-size: 1.5rem;
}

.delete-account {
  color: var(--gray);
  background: var(--red);
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0 auto;
}

.user-info-name {
  font-size: calc(2rem + 0.5vw);
}

.user-info-date {
  font-size: 1rem;
}

/* IMAGES */

.about-user-img {
  width: 100%;
  border-radius: 5px;
  margin: 0;
}

/* FORM */

.user-profile-input-name {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5em 0;
  outline: none;
  font-size: 1rem;
  width: 60%;
  color: var(--blue);
}

input[type="file"] {
  display: none;
}

/* BUTTON */

.submit-edit-button {
  border: none;
  background: var(--blue);
  border-radius: 5px;
  color: var(--gray);
  font-size: 1rem;
  padding: 0.5em 0.9em;
  display: flex;
  margin: 0 0 0 auto;
  margin-top: 1em;
}

.submit-edit-button:hover {
  cursor: pointer;
  background-color: var(--red);
}

.file-input-button {
  text-decoration: underline;

  color: var(--blue);
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}

/* LAYOUT */

.user-profile {
  padding-top: 6em;
  text-align: center;
  height: 97vh;
  width: 50%;
  max-width: 550px;
  min-width: 275px;
  border-radius: 5px;
  margin: 0 auto;
  color: var(--blue);
}

.about-user {
  background: white;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.user-info-container {
  text-align: right;
}

.user-info-name,
.user-info-date {
  margin: 0;
  margin-top: 0.2em;
}

.about-user-img-container {
  display: flex;
  width: 40%;
}

.edit-user-info {
  background: white;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  text-align: left;
}

/* MEDIA QUERIES */

@media (max-width: 750px) {
  .user-info-name,
  .edit-user-info-header {
    font-size: calc(1.3rem + 0.5vw);
  }

  .user-info-date {
    font-size: 0.9rem;
  }

  .user-profile-input-name,
  .file-input-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .about-user-img {
    width: 6rem;
  }

  .user-info-name {
    font-size: 1.2rem;
  }

  .delete-account,
  .submit-edit-button {
    font-size: 0.9rem;
  }
}
